/.htaccess
/administrator/cache/*
/administrator/components/*
/administrator/help/*
/administrator/includes/*
/administrator/language/*
/administrator/logs/*
/administrator/manifests/*
/administrator/modules/*
/administrator/templates/*
/administrator/index.php
/cache/*
/bin/*
/cli/*
/components/*
/images/*
/includes/*
/installation/*
/language/*
/layouts/*
/libraries/*
/media/*
/modules/*
/plugins/*
/templates/*
/tmp/*
/configuration.php
/index.php
/joomla.xml
/*.txt
/robots.txt.dist
