<?xml version="1.0" encoding="utf-8"?>
<entity xmlns="https://joomla.org/joomla-x/orm"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="https://joomla.org/joomla-x/orm
            https://raw.githubusercontent.com/joomla-x/orm/master/src/Definition/entity.xsd"
        name="Joomla3\Entity\Menu">

    <storage>
        <default table="menu" primary="id"/>
    </storage>

    <fields>

        <field
            name="id"
            type="int"
            required="true"
            input="hidden"
            default="0"
            filter="int"
            readonly="true"
        >
            <validation rule="integer"/>
        </field>

        <!-- The type of menu this item belongs to. FK to #__menu_types.menutype -->
        <field
            name="menutype"
            type="varchar"
            required="true"
            input="text"
            label="COM_MENUS_MENU_MENUTYPE_LABEL"
            description="COM_MENUS_MENU_MENUTYPE_DESC"
            size="30"
        >
            <validation rule="maxlen" value="30"/>
        </field>

        <!-- The display title of the menu item. -->
        <field
            name="title"
            type="varchar"
            required="true"
            input="text"
            label="JGLOBAL_TITLE"
            description="COM_MENUS_MENU_TITLE_DESC"
            size="30"
        >
            <validation rule="maxlen" value="30"/>
        </field>

        <!-- The SEF alias of the menu item. -->
        <field
            name="alias"
            type="varchar"
            required="true"
        >
        </field>

        <field
            name="note"
            type="varchar"
            required="true"
            default=""
        >
        </field>

        <!-- The computed path of the menu item based on the alias field. -->
        <field
            name="path"
            type="varchar"
            required="true"
        >
        </field>

        <!-- The actually link the menu item refers to. -->
        <field
            name="link"
            type="varchar"
            required="true"
        >
        </field>

        <field
            name="type"
            type="varchar"
            required="true"
        >
        </field>

        <!-- The published state of the menu link. -->
        <field
            name="published"
            type="tinyint"
            required="true"
            default="0"
        >
        </field>

        <!-- The parent menu item in the menu tree. -->
        <field
            name="parent_id"
            type="int"
            required="true"
            default="1"
        >
            <validation rule="integer"/>
        </field>

        <!-- The relative level in the tree. -->
        <field
            name="level"
            type="int"
            required="true"
            default="0"
        >
            <validation rule="integer"/>
        </field>

        <!-- FK to #__extensions.id -->
        <field
            name="component_id"
            type="int"
            required="true"
            default="0"
        >
            <validation rule="integer"/>
        </field>

        <!-- FK to #__users.id -->
        <field
            name="checked_out"
            type="int"
            required="true"
            default="0"
        >
            <validation rule="integer"/>
        </field>

        <!-- The time the menu item was checked out. -->
        <field
            name="checked_out_time"
            type="datetime"
            required="true"
            default="0000-00-00 00:00:00"
        >
        </field>

        <!-- The click behaviour of the link. -->
        <field
            name="browserNav"
            type="tinyint"
            required="true"
            default="0"
        >
        </field>

        <!-- The access level required to view the menu item. -->
        <field
            name="access"
            type="int"
            required="true"
            default="0"
        >
            <validation rule="integer"/>
        </field>

        <!-- The image of the menu item. -->
        <field
            name="img"
            type="varchar"
            required="true"
        >
        </field>

        <field
            name="template_style_id"
            type="int"
            required="true"
            default="0"
        >
            <validation rule="integer"/>
        </field>

        <!-- JSON encoded data for the menu item. -->
        <field
            name="params"
            type="text"
            required="true"
        >
        </field>

        <!-- Nested set lft. -->
        <field
            name="lft"
            type="int"
            required="true"
            default="0"
        >
            <validation rule="integer"/>
        </field>

        <!-- Nested set rgt. -->
        <field
            name="rgt"
            type="int"
            required="true"
            default="0"
        >
            <validation rule="integer"/>
        </field>

        <!-- Indicates if this menu item is the home or default page. -->
        <field
            name="home"
            type="tinyint"
            required="true"
            default="0"
        >
        </field>

        <field
            name="language"
            type="char"
            required="true"
            default=""
        >
        </field>

        <field
            name="client_id"
            type="tinyint"
            required="true"
            default="0"
            input="radio"
            label="COM_MENUS_MENU_CLIENT_ID_LABEL"
            description="COM_MENUS_MENU_CLIENT_ID_DESC"
        >
            <option value="0">JSITE</option>
            <option value="1">JADMINISTRATOR</option>
        </field>

    </fields>

    <relations>
        <hasMany
            name="children"
            entity="Joomla3\Entity\Menu"
            reference="parent_id"
        />

        <belongsTo
            name="parent"
            entity="Joomla3\Entity\Menu"
            reference="parent_id"
        />

        <belongsTo
            name="component"
            entity="Joomla3\Entity\Component"
            reference="component_id"
        />

        <belongsTo
            name="template_style"
            entity="Joomla3\Entity\TemplateStyle"
            reference="template_style_id"
        />

        <belongsTo
            name="client"
            entity="Joomla3\Entity\Client"
            reference="client_id"
        />
    </relations>

</entity>
